<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.noverguo.hooktest" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="info.noverguo.netwatch.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_name" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
        <activity
            android:name="info.noverguo.netwatch.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.noverguo.netwatch.ui.AddActivity"
            android:label="@string/title_add_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.noverguo.netwatch.ui.MainActivity" />
        </activity>
        <activity android:name="info.noverguo.netwatch.ui.WebActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service android:name="info.noverguo.netwatch.service.RemoteUrlService" android:exported="true">
            <intent-filter>
                <action android:name="info.noverguo.netwatch.service.IUrlService"></action>
            </intent-filter>
        </service>
        <receiver android:name="info.noverguo.netwatch.receiver.PackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
